* {
  font-family: "Inter";
  color: white;
  text-align: center;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
}

body {
  background-color: black;
  background-image: url("../img/bg.jpg");
  background-size: cover;
}

#todays-state {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 5%;
}

#todays-weather-temperature {
  font-size: 48px;
  font-family: "Inter";
  font-weight: bold;
}

#todays-weather-hint {
  font-size: 50px;
  font-weight: 100;
}

#date {
  font-size: 25px;
  font-weight: 500;
  display: block;
}

#location {
  font-size: 30px;
  /* display: block; */
}

#time {
  font-size: 50px;
  /* display: inline; */
  text-align: center;
  margin-left: 10px;
}

#date-location {
  /* display: inline; */
}

#time-location {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.svg-icon {
  width: 120px;
  height: 120px;
  fill: white;
  stroke: white;
  /* filter: invert(); */
}

.background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 25%;
  background-color: black;
  z-index: -1;
}

.forecast-date {
  font-size: 40px;
  font-weight: 400;
}

.forecast-icon {
  display: inline;
  margin: 0;
  padding: 0;
}

.forecast-content {
  align-items: center;
  vertical-align: center;
  width: 100%;
  height: 100%;
}

.forecast-temperature {
  color: yellow;
}

.forecast-hint {
  font-size: 24px;
  font-weight: 300;
  opacity: 80%;
}

.forecast-content span {
  align-self: center;
}

#forecast-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 25%;
}

#forecast-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
}

#forecast-3 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 75%;
}

#change-location-btn {
  background-color: black;
  border-radius: 32px;
  border-style: hidden;
  padding: 10px;
  opacity: 20%;
  position: absolute;
  transform: translate(0%, -50%);
  top: 32px;
  left: 10px;
}

#change-location-btn:hover {
  opacity: 100%;
}

.modal {
  color: black;
  position: absolute;
  /* width: 400px; */
  padding: 10px;
  /* height: 200px; */
  /* transform: translate(-50%, 0%); */
  /* left: 50%; */
  /* top: 50%; */
  background-color: rgba(0, 0, 0, 0.5);
}

.modal input {
  color: black;
  margin: 20px;
  border-color: black;
  border-radius: 10px;
}

ul {
    color: black;
    z-index: 10000;
}

.ui-front {
    z-index: 9999999 !important;
    color: black;
}

.ui-menu-item * {
    color: black;
}